<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Theater</title>
    {% load static %}
</head>
<body onload="inicio();">
    <a onclick="inicio();" href="#" style="text-decoration: none; color: black;">
        <h1>Projeto Web Theater</h1>
    </a>
    <div id="main_frame">
        {% if msg %}
        <p>{{msg}}</p>
        {% else %}
        <p>Aguardando carregamento...</p>
        {% endif %}
    </div>
</body>
<script>
    function inicio(){
        let xhr = new XMLHttpRequest();
        xhr.open('GET', "{% url 'inicial' %}");
        xhr.onreadystatechange = function() {
            if(xhr.readyState === XMLHttpRequest.DONE) {
                if(xhr.status === 200) {
                    document.getElementById("main_frame").innerHTML = xhr.response;
                } else {
                    alert(`Deu ruim! Status ${xhr.status}`);
                }
            }        
        };
        xhr.send(); 
    }

    function video(id){
        let xhr = new XMLHttpRequest();
        xhr.open('GET', `{% url 'video' 'REFERENCE_ID'%}`.replace("REFERENCE_ID", id));
        xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
        xhr.onreadystatechange = function() {
            if(xhr.readyState === XMLHttpRequest.DONE) {
                if(xhr.status === 200) {
                    document.getElementById("main_frame").innerHTML = xhr.response;
                } else {
                    alert(`Deu ruim! Status ${xhr.status}`);
                }
            }        
        };
        xhr.send(); 
    }
</script>
</html>